<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<title>User Profile</title>
</head>
<body>
	<div id="header">
		<h1><a id="title" href="/">Photo Share</a></h1>
	</div>
	<div id="nav">
		<a id="navi" href='/'>Home</a><br>
		<a id="navi" href='/profile'>My profile</a><br>
		<a id="navi" href='/getAllFriends'>Friendship</a><br>
		<a id="navi" href='/getAlbums'>Manage Albums</a><br>
		<a id="navi" href='/browseByAlbum'>Browse Albums</a><br>
		<a id="navi" href='/browseByTag'>Browse Tags</a><br>
		<a id="navi" href='/recommend'>Recommendations</a><br>
		<a id="navi" href='/stars'>Stars</a><br>
		<a id="navi" href='/login'>Login</a><br>
		<a id="navi" href='/logout'>Logout</a><br>
	</div>
	<div id="section">
		<h2>Update your profile</h2>
		{% if message %}
		<h4>{{message}}!</h4>
		{% endif %}
		<p>
			<form method="POST" action="/profile">
				{% if userInfo %}
				<table>
					<tr>
						<th>
							<label for="firstName">First name </label>
						</th>
						<td>
							<input type="text" name="firstName" placeholder="{{userInfo[1]}}"/>*<br />
						</td>
					</tr>
					<tr>
						<th>
							<label for="lastName">Last name </label>
						</th>
						<td>
							<input type="text" name="lastName" placeholder="{{userInfo[2]}}"/>*<br />
						</td>
					</tr>
					<tr>
						<th>
							<label for="email">Email </label>
						</th>
						<td>
							<input type="email" name="email" value="{{userInfo[3]}}" readonly /><br />
						</td>
					</tr>
					<tr>
						<th>
							<label for="password">Password </label>
						</th>
						<td>
							<input type="password" name="password" />*<br />
						</td>
					</tr>
					<tr>
						<th>
							<label for="birthday">Birthday </label>
						</th>
						<td>
							<input type="text" name="birthday" placeholder="{{userInfo[5]}}" onfocus="(this.type='date')"/>*<br />
						</td>
					</tr>
					<tr>
						<th>
							<label for="gender">Gender</label>
						</th>
						<td>
							{% if userInfo[6] == 'M': %} 
							<input type="radio" name="gender" value="M" checked > Male 
							<input type="radio" name="gender" value="F" > Female <br />
							{% elif userInfo[6] == 'F': %} 
							<input type="radio" name="gender" value="M" > Male 
							<input type="radio" name="gender" value="F" checked> Female <br />
							{% else: %}
							<input type="radio" name="gender" value="M" > Male 
							<input type="radio" name="gender" value="F" > Female <br />
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>
							<label for="hometown">Hometown </label>
						</th>
						<td>
							<input type="text" name="hometown" placeholder="{{userInfo[7]}}"/><br />
						</td>
					</tr>
					<tr>
						<td colspan="2" align="right">
							<input type="submit" name="submit" value="Update"/>
						</td>
					</tr>
				</table>
				{% endif %}
			</form>
		</p>
	</div>
	<div id="footer">
		Copyright © 2016 Ang Li
	</div>
</body>
</html>